body {
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #0078D4;
    color: white;
    padding: 20px;
}

main {
    padding: 20px;
}

section {
    background: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
}

h2 {
    color: #0078D4;
}